<% if user_signed_in? %>
  <div>
    <ul>
      <% @boat_sell.each do |sail| %>
      <li class="boat-tile">
        <%= link_to "#{sail.css('.result-info').first.css('a').first.children.text}",sail.css('.result-info').first.css('a').first.first.last %></br>
        <%= "#{sail.css('.result-info').first.css("span").inner_text.split[6]}" %>
      </li>
      <% end %>
    </ul>
  </div>
<%end%>
