<% if user_signed_in? %>
  <div>
    <ul>
      <% @boat_sell.each do |sail| %>
      <li class="boat-tile">
        <%= link_to "check out this boat  ",sail.first.last.value %><%= sail.values[1].value %>
      </li>
      <% end %>
    </ul>
  </div>
<%end%>
