<% if user_signed_in? %>
  <div>
    <ul>
      <% @boat_sell.each do |sail| %>
      <li class="boat-tile">
        <%= link_to "#{sail.children.text}",sail.first.last %>
      </li>
      <% end %>
    </ul>
  </div>
<%end%>
