/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body {
  background: linear-gradient(#0066CC, white);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
    font-family: 'LobsterRegular';
    color: white;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'LobsterRegular';
    color: white;
    font-weight: normal;
    font-style: normal;
}

.boat-temp {
  background-color: #0066CC;
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  border-radius: 10px;
  margin-right: 950px;
}

:hover {
  color: white;
}

:link {
  color: white;
}

:visited {
  color: white;
}

.user-temp {
  background-color: #0066CC;
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  border-radius: 10px;
  margin-right: 950px;
}

.form{
  background-color: #86D7DE;
  width: 33%;
  height: 60rem;
  border-width: 2px;
  border-radius: 10px;
  margin-right: 800px;
}

.boat-tile {
  display: inline-block;
  width: 30%;
  height: 20rem;
  text-decoration: none;
  font-family: 'LobsterRegular';
  font-size: 16px;
  text-align: center;
  margin: 1rem;
  line-height: 1.2rem;
  align-items: center;
  box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
  background: #0066CC;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: 1.5s ease;
  box-sizing: content-box;
  color: white;
  padding-top: 10px;
  justify-content: center;
}

.title-page-info{
  background-color: #0066CC;
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  border-radius: 10px;
  margin-right: 950px;
}

/* * {
   border: 1px solid red !important;
} */
