<h1><%= "All User Boats" %></h1>


<% @boats.each do |boat| %>
<li class="boat-tile">
  <%= link_to "#{boat.brand}",boat_path(boat) %>
</li>
<% end %>
<p><%= link_to "add a new boat", new_boat_path %></p>
